<h1>My tasks</h1>

<ul class="list-unstyled">
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
      <span class="mr-3"><i class="far fa-check-square"></i></span>
    <% else %>
      <span class="mr-3"><i class="far fa-square"></i></span>
    <% end %>
    
    <%= link_to task.title, task_path(task) %>
    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, 
          task_path(task), 
          method: :delete,
          class: 'px-2',
          data: {confirm: "Delete #{task.title}?"}
    %>
  </li>
  <% end %>
</ul>
<hr>
<%= link_to new_task_path do %>
  <i class="fas fa-plus mr-3"></i>Create a new task
<% end %>