<h1 class=><%= @task.title %></h1>
<%= link_to "Edit this task", edit_task_path %>
<p class="bg-light border rounded p-3"><%= @task.details %></p>
<div>
  <% if @task.completed %>
    <p><i class="far fa-check-square mr-3"></i>This task is completed</p>
  <% else %>
    <p><i class="far fa-square mr-3"></i>This task is not completed yet</p>
  <% end %>
</div>

<%= link_to tasks_path do %>
  <i class="fas fa-undo"></i> Back to list
<% end %>
